.scrollable {
    position: relative; overflow: hidden;
    height: 120px; width: 680px;
}
.scrollable .items {
    position: absolute;
    width: 20000em;
    clear: both;
}

.scrollable .active {
    border: 0;
    position: relative;
    cursor: default;
}

.items div {
    float: left;
    width: 680px;
}

.navi {
    margin: 0 0 0 650px;
    height: 20px; width: 200px;
}
.navi a {
    display: block;
    font-size: 1px;
    float: left;
    margin: -5px 5px 5px 5px;
    height: 12px; width: 12px;
}

.navi a:hover { background-position: 0 -12px; }

.navi a.active { background-position: 0 -24px; }
/*
     FILE ARCHIVED ON 14:53:58 Nov 06, 2019 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 02:28:04 Jul 30, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.397
  exclusion.robots: 0.015
  exclusion.robots.policy: 0.007
  esindex: 0.01
  cdx.remote: 33.97
  LoadShardBlock: 207.333 (3)
  PetaboxLoader3.datanode: 327.374 (5)
  PetaboxLoader3.resolve: 122.591 (3)
  load_resource: 354.511 (2)
*/
